<aside class="main-sidebar" th:fragment="sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->

    <!-- search form -->

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->

    <ul class="sidebar-menu" data-widget="tree">

      <li>
        <a th:href="@{/admin/category}">
          <i class="fa fa-th"></i> <span>Quê Quán </span>
          <span class="pull-right-container">

            </span>
        </a>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Quản lý sinh viên</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a th:href="@{/admin/product}"><i class="fa fa-circle-o"></i> Danh sách</a></li>
          <li><a th:href="@{/admin/product-add}"><i class="fa fa-circle-o"></i> Thêm mới </a></li>
        </ul>
      </li>



    </ul>
  </section>
  <!-- /.sidebar -->
</aside>